
.info{
        padding: 50px 10px 24px 43px;
        background-color: #efe9e7;
}

.about{
    display: none;
}


.contact{
    p{
        margin-bottom: 16px;
        font-size: 24px;
        color: $brown;
    }
 }

 .infoItem{
     color: $brown;
     li{
         list-style-type: disc;
         margin-left: 20px;
         line-height: 1.5;
     }
 }

 .media {
        float: right;
        padding: 24px 0;
  li {
      margin-left: 12px;
      float: left;
  }
  .google i{
      color: #db4437;
  }
  .twitter i{
      color: #41abe1;
  }
  .fb i{
      color: #3a5795;
  }
 }


@include for-size(pad-portrait-min) {
     .about {
         display: block;
         float: left;
         p {
             font-size: 24px;
             color: $brown;
             margin-bottom: 16px;
         }
         .aboutInfo {
             width: 299px;
             line-height: 1.5;
         }
     }
     .contact {
         float: left;
         margin-left: 21px;
     }

     .media {
         margin-right: 36px;
     }
}




 @include for-size(pad-landscape-min){
    .contact{
            margin-left: 21px;
    }
    .media{
            margin-right: 36px;
    }
 }

     