.loginTitle{
        text-align: center;
    h1{
        margin-bottom: 0;
        font-size: 49px;
        color: $brown;
        letter-spacing: 0px;
    }
    p{
        font-family: NotoSansCJKtc-Medium;
        font-size: 20px;
        color: $brown;
        line-height: 1.5;
    }
}

.login{
    margin: 35px auto;
    width: 300px;
    background: #EFE9E7;
    border-top: 3px solid $orange-second;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
    p{
        padding-top: 15px;
        font-weight: bold;
        font-size: 18px;
        color: $brown;
    }
    input{
            background: #FFFFFF;
            border: 1px solid #CCCCCC;
            box-shadow: inset 0px 1px 0px 0px #ECECEC;
            border-radius: 3px;
            width: 270px;
            height: 32px;
    }
    .infoTitle1 {
            position: relative;
            padding: 16px 170px 0 0;
            margin-left: 15px;
            line-height: 1.5;
    }
    .infoTitle2{
         padding: 16px 190px 0 0;
    }
    .forgot{
            float: left;
            margin-left: 15px;
            font-size: 14px;
            color: #FF5E45;
    }
}

.button {
        margin-top: 56px;
        padding-bottom: 55px;
        .cancel {
            float: left;
            button{
                display: inline-block;
                margin-left: 15px;
                background: rgba(0, 0, 0, 0.35);
                border-radius: 3px;
                width: 125px;
                height: 32px;
                line-height: 30px;
                color: $white;
            }
            
        }
        .send{
            button{
                  margin-right: 15px;
                  float: right;
                  background: #F56C23;
                  border-radius: 3px;
                  width: 125px;
                  height: 32px;
                  line-height: 30px;
                  color: $white;
            }
          
        }
}