block footer
  #footer
   .countainer
     .info.clearfix
      .about.col-3 
        p 關於&nbsp;六角西餐廳
        .aboutInfo Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. 
      .contact.col-3 
        p 聯絡方式
        .infoItem
          ul
            li 高雄市中正五路到底
            li ＋886 886 886
            li service@hexschool.com
      .media.col-3
        ul
          li.google 
            a(href="#")<i class="fab fa-google-plus-square fa-2x"></i>
          li.twitter 
            a(href="#")<i class="fab fa-twitter-square fa-2x"></i>
          li.fb 
            a(href="#")<i class="fab fa-facebook fa-2x"></i>