#header
    .countainer.block
      .blockTop
        .log
          img(src="https://github.com/Jimmywei01/HexSchool_Western_Restaurant-RWD/blob/master/src/images/logo_w.png?raw=true", alt="none")
        .menu
          .showmenu<i class="fas fa-bars fa-2x"></i>
        ul.menuItem
            li
              a(href="index.html") 美食
            li
              a(href="features.html") 特色
            li
              a(href="login.html") 註冊
      .blockBotton
        h1 咬一口<br>就無法忘懷的漢堡
        h1.second 咬一口就無法忘懷的漢堡
        ul
          li
            h3 七夕絕對無法忘懷的好滋味
          li <i class="fas fa-utensils"></i> 六角大漢堡 <i class="fas fa-utensils"></i> 