
<div id="header">
  <div class="countainer block">
    <div class="blockTop">
      <div class="log"><img src="https://github.com/Jimmywei01/HexSchool_Western_Restaurant-RWD/blob/master/src/images/logo_w.png?raw=true" alt="none"/></div>
      <div class="menu">
        <div class="showmenu"><i class="fas fa-bars fa-2x"></i></div>
      </div>
      <ul class="menuItem">
        <li><a href="index.html">美食</a></li>
        <li><a href="features.html">特色</a></li>
        <li><a href="login.html">註冊</a></li>
      </ul>
    </div>
    <div class="blockBotton">
      <h1>咬一口<br>就無法忘懷的漢堡</h1>
      <h1 class="second">咬一口就無法忘懷的漢堡</h1>
      <ul>
        <li>
          <h3>七夕絕對無法忘懷的好滋味</h3>
        </li>
        <li><i class="fas fa-utensils"></i> 六角大漢堡 <i class="fas fa-utensils"></i> </li>
      </ul>
    </div>
  </div>
</div>