extends _layout.jade

block features 
  #content
   .countainer
    .delicious
     .hr.h1
     p 客人總是在詢問<br>這麼好吃的秘訣是什麼
     .hr.h2
     .featureItem.clearfix
       .featureCard.col-3
        ul
          li
            img(src="https://github.com/Jimmywei01/HexSchool_Western_Restaurant-RWD/blob/master/src/images/feature_1.png?raw=true", alt="none")
          li.name 台灣本土蔬菜
          li.introduction In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.
       .featureCard.col-3
         ul 
          li
            img(src="https://github.com/Jimmywei01/HexSchool_Western_Restaurant-RWD/blob/master/src/images/feature_2.png?raw=true", alt="none")
          li.name 專業米其林廚師
          li.introduction Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
       .featureCard.col-3
        ul
          li
            img(src="https://github.com/Jimmywei01/HexSchool_Western_Restaurant-RWD/blob/master/src/images/feature_3.png?raw=true", alt="none")
          li.name 對於專業不能退讓
          li.introduction Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.
    .chef
      img(src="https://github.com/Jimmywei01/HexSchool_Western_Restaurant-RWD/blob/master/src/images/main_chef_brown.png?raw=true", alt="none")
      .introduce
        <br>
        p.cook 今日主廚：帕金森・梅在帕
        p Today Chef : Plum in Shock
        <br>
        p.experience Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci. Mauris molestie sit amet metus mattis varius. Donec sit amet ligula eget nisi sodales egestas. Aliquam interdum dolor aliquet dolor sollicitudin fermentum. Donec congue lorem a molestie bibendum.
    .listen.row
        p 聽聽別人的感想
        .people.col-3
          img(src="https://github.com/Jimmywei01/HexSchool_Western_Restaurant-RWD/blob/master/src/images/avatar_1.png?raw=true", alt="none")
          .opinion
            ul
             li.name 高雄一口吃
             li.content 自從吃了這家餐廳以後，我口水連續流了一個月都沒停，下次不要再被我遇到，不然我一定連他們桌子都肯下去。
             li.job  -- 產品經理       
        .people.col-3
          img(src="https://github.com/Jimmywei01/HexSchool_Western_Restaurant-RWD/blob/master/src/images/avatar_2.png?raw=true", alt="none")
          .opinion
            ul
             li.name 街口小霸王
             li.content  自從吃了這家餐廳以後，我口水連續流了一個月都沒停，下次不要再被我遇到，不然我一定連他們桌子都肯下去。
             li.job -- 金身道士
         .people.col-3
          img(src="https://github.com/Jimmywei01/HexSchool_Western_Restaurant-RWD/blob/master/src/images/avatar_3.png?raw=true", alt="none")
          .opinion
            ul
             li.name 春天也來了
             li.content  自從吃了這家餐廳以後，我口水連續流了一個月都沒停，下次不要再被我遇到，不然我一定連他們桌子都肯下去。
             li.job  -- 美麗萬分
    .address.clearfix
      p.title 我們的位置不太夠坐要不要先訂位呢？
      p.title2 我們的位置不太夠坐<br>要不要先訂位呢？
        .map.clearfix
          img(src="https://hexschool.github.io/Rwd_sketch_export/assets/Map@2x.png", alt="none")
          .positioning
              ul
                li 姓名
                li 
                  input(type="text")
                li 電話
                li 
                  input(type="tel", name="")
                li 信箱
                li 
                  input(type="email", name="")
                li 人數
                li 
                  input(type="text")
          .select
            p 是否需要素食
            ul.clearfix
              li 是
               label(for="yes")
                  input(type="radio", name="",id="yes")
              li 否
               label(for="no")
                 input(type="radio", name="",id="no") 
          .check
            .cancel
               button(type="submit") 取消  
            .send 
               button(type="submit") 送出
